body {
	margin: 0px; 
	padding: 0px; 
	background-color: #ededed; font-family: Raleway, sans-serif;}
.inner {width: 1040px; margin: auto;}
.row {display: flex;}
.between {justify-content: space-between;}

.aboutme{
	background-color: rgb(234, 200, 243);
}

}
.experience{
	background-color: #779DA9;

}
nav 
{background-color: rgb(234, 200, 243); 
	width: 100%; 
	height: 80px; 
	box-shadow: 0px 4px 4px #ccc; 
	color: rgb(0, 0, 0); 
	position: fixed; 
	z-index: 100; 
	display: flex; 
	align-items: center;}
.logo {color: black; font-size: 40px;}
.logo2 {font-family: Pacifico;}
.menu {display: flex; list-style: none;}
a.menu-item {color: black; text-transform: uppercase; font-size: 22px; 
	padding: 0px 10px; 
	text-decoration: none; 
	color: rgb(0, 0, 0);}
.menu-item:hover {color: black;}


section {}
.header{
	padding-top: 128px;
	position: relative;
	padding-bottom: 50px;
}
.headtop{
	background-color: rgba(255,255,255,.9);
	position: absolute;
	top: 220px;
	right: 20px;
	width: 275px;
	font-family: Raleway;
	color:  rgb(220, 188, 229);
	font-size: 30px;
	padding: 40px;

}
.button{
	background-color: rgb(234, 200, 243);
	width: 242px;
	height: 300px;
	color: #FBF8E4;
	padding: 15px;
	text-align: center;
}
.aboutme{
	background-color: rgb(234, 200, 243);
	display: flex;
	padding-top: 100px;
	padding-bottom: 75px;
}
.info{
	color: black;
	font-size: 18pt;
	line-height: 26px;
}
.combo{
	width: 380px;
	margin:auto;
}

.map {
	padding: 1em;
	background-color: #ffffff;
	text-align: center;
	font-family: Pacifico;
	font-size: 36px;
}


.caption{
	position: absolute;
	bottom: 0px;
	background-color: rgba(119,157,169,.5);
	width: 100%;
	text-align: center;
}
.row2{
	padding-top: 50px;
	padding-bottom: 100px;
	display: flex;
	font-size: 55px;
	position: absolute;
}

.online{
	color: #ffffff;
	position: absolute;
	margin-top: 100px;
    margin-left: 575px;
  	border: 1px white;  
  	outline: 1px white solid; 
  	outline-offset: -2px;
  	background-color: rgba(0, 0, 0, .5);
	font-family: Raleway, sans-serif;
	font-weight: bold;
	padding: 0px 10px;
}

.visit{
	color: #ffffff;
	position: absolute;
	margin-top: 100px;
    margin-left: 63px;
  	border: 2px white;  
  	outline: 2px white solid; 
  	outline-offset: -2px;  
  	background-color: rgba(0, 0, 0, .5);
  	font-family: Raleway, sans-serif;
  	font-weight: bold;
  	padding: 0px 40px;}

}

}
.head5{
	border-bottom: dotted;
	color: #779DA9;
	font-family: Pacifico, cursive;
	font-size: 60px;
}

}
.img2 img{ 
	border-radius: 50%
}

.testtext{
	color: black;
	font-family: Raleway, sans-serif;
	text-align: center;
	padding-top: 15px;
	font-size: 20px;}

.testname{
	color: black;
	font-family: Raleway, sans-serif;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	padding-top: 25px;}


.experience{
	background-color: rgb(234, 200, 243);
	display: flex;
	padding-top: 100px;
	padding-bottom: 75px;
}
.head{
	border-bottom: dotted;
	color: rgb(0, 0, 0);
	font-family: Pacifico;
	font-size: 53px;
}
.text{
	color: black;
	line-height: 24px;
}
.combo{
	width: 380px;
	margin:auto;
}
.button.white{
	background-color: #FDF8E4;
	color: rgb(234, 200, 243);
	margin-top: 20px;
}

.writing{
	background-color: rgb(255, 255, 255);
	display: flex;
	padding-top: 100px;
	padding-bottom: 75px;

}
.head{
	border-bottom: dotted;
	text-align: center;
	color: rgb(0, 0, 0);
	font-family: Pacifico;
	font-size: 59px;
}
<! -- this is correct > 
.text{
	color: black;
	line-height: 24px;
}
.combo{
	width: 380px;
	margin:auto;
}
.button.white{
	background-color: #FDF8E4;
	color: #F08D84;
	margin-top: 20px;
}
.end{
	color: #779DA9;
	background-color: #FDF8E4;
	height: 200px;
}
.street{
	font-size: 20px;
	font-weight: lighter;
}
.last1{
	font-size: 45px;
	padding-top: 70px;
	font-family: Pacifico;
}
.last{
	font-weight: lighter;
	font-size: 35px;
	padding-top: 50px;
}

.row2{
	position: relative;
	font-weight: bold;
	color: #ffffff;
}